p#copyright {
     display: block;
}

.sm-listVert ul li a {
	margin-left:0px;
}

#searchoptions {
	
}


#searchbox input.btn-search {
	position:absolute;
	right:5px;
	top:1px;
	margin:0px 0px 0px 0px;
	padding:0px;
}