body{
    min-width:320px;
}
body img{
    max-width:100%;
}

/* Small screen menu */
.pull{
    /*background-color:#f47321;*/
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 15px;
    height: 29px;
    margin-bottom: 1px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    /*font-family: 'Franklin Gothic Demi Ext Cmp', helvetica, sans-serif;*/
}

.pull:after {
    content: "\2261";
    display: inline-block;
    font-size: 30px;
    line-height: -20px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

@media (max-width: 960px){


}

@media (max-width: 775px){
    
}

@media (max-width: 730px) {
    
}


@media (max-width:520px){
    #mobile-menu {
        background: url(/images/logo-with-seal.png) 30% 0% no-repeat;
        background-size: 245px;
        margin: 0;
        padding: 10px;
        height: 35px;
    }
    /* Hide a bunch of stuf - Just for now!*/
     h1#logo, #col-tertiary, #searchbox, ul.nav-utility, .fb-feed, #utilitynav ul.sm_icons, #searchoptions, #footer{
        display: none; 
    }
    /*Search stuff*/
    #searchbox {
        width: 244px;
        position: absolute;
        z-index: 200;
        left: 71px;
        top: 52px;
    }
    form.search input.search-text {
        width: 229px;
        height: 17px;
    }
    #mobile-menu .search {
        /*Using Googles png but will make our own*/
        background-image: url('//ssl.gstatic.com/gb/images/v1_c69d5271.png');
        background-size: 536px 341px;
        float: right;
        position: relative;
        padding: 3px 0px 0px 0px;
        background-position: -466px -207px;
        display: inline-block;
        height: 30px;
        width: 30px;
    }
    #mobile-menu .search img {
        width: 80%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    #searchbox:target {
        display: block;
    }
    #searchbox:not(:target) {
        display: none;
    }

    #searchbox:target .close-search {
        display: block;
    }
    #searchbox:not(:target) .close-search {
        display: none;
    }
    .close-search {
        right: 0;
        position: absolute;
        font-size: 1.5em;
    }

    #header {
        background: none; 
        width: 100%;
    }
    #container-header {
        height: 0;
        width: 100%;
    }

    #col-container-medium {
        width: 100%;
        margin-top: 0;
    }
    #container {
        width: 100%;
    }
    #col-tertiary {
        width: 100%;
        margin: 0;
    }
    #col-main {
        width: 100%;
        margin: 0;
    }
    #col-secondary {
        width: 100%;
        margin: 0;
    }
    /*All those freakin' boxes!*/
    .sm-eventsVert, .sm-form, .sm-listVert, .sm-login, .sm-picture, .sm-publications, .sm-subscription, .sm-tabbedList, .sm-textImageVert, .sm-textImageLftVert, .sm-textListVert, .lg-textImageHoriz {
        width: 98%;
        padding: 1%;
    }
    
    /*Video embed*/
    .lg-textImageHoriz iframe {
        width: 98%;
    }
    /* Rotator stuff */
    .rotator, .frontPost, .bgcon, .postC, .postD {
        width: 100%;
        margin:0;
        padding:0;
    }
    .postD h4, .postD p {
        margin: 1px 5px 1px 0px;
        padding: 2px 5px 2px 5px;
    }
     .rotatebutton {
        display: none;
     }
     a.nextT {
        right: 3px;
    }

    h1#logo {
        position: relative;
    }

    /*Trying off-canvas CSS-only */
    .menu-out {
        left: 150px;
    }
    /*#nav-topical:not(:target) a.close-btn {
        display: none;
    }
    #nav-topical:not(:target) ul li{
        display: none;
        z-index: 1;
        /*height: 0;*/
    /*}
    #nav-topical:target ul li{
        display: block;
        z-index: 100;
        height: 20px;
    }
    #nav-topical:target a.close-btn {
        display: block;
    }
    .js-ready #nav {
        left: -70%;
    }*/

    /**/
    /* Navs baby! */    
    #navde {
        border-top: 1px solid white;
        background: none;
        left: -150px;
        top: 178.1px;
        width: 150px;
    }
    .nav-audience ul li {
        border: 0;
    }
    .nav-audience ul li a {
        font-size: 1.1em;
        text-transform: uppercase;
    }
    .nav-audience ul{
        padding: 0 0 0 15px;
    }
    .nav-topical-box {
        background: none;
        position: relative;
        left:0;
        top:0;
        width: 100%;
    }
    .sm_icons {
        display: none;
    }
    #utilitynav {
        position:relative;
        left:0;
        top:0;
    }
    .nav-topical-box ul#nav-topical {
        position: absolute;
        left: -150px;
    }
    #header{
        height: 0;
        position: relative;
    }
    /* Standard mobile menu stuff */
    .pull {
        display:block;
        width:80%;
        text-align:center;
    }

    #nav-topical li,  .nav-audience ul li{
        width:100%;
        clear:both;
        float: left;
        text-align:left;
        margin-left:0px;
    }
    .subtopical{
        display:none!important;
    }
    .lg-banner {
        display: none;        
    }
}



@media (max-width:490px){
  

}




@media (max-width: 400px){

    
}