a {
   color:#F47321;
}

#orangecentral {
    font-family:  helvetica, arial, geneva, sans-serif !important;
   padding:5px;
   margin:0px;
   background: url(http://www.syr.edu/css/images/bg_column-container.gif) center repeat-y;
}


#orangecentral h2 {
  font-family:  helvetica, arial, geneva, sans-serif !important;
  display:block;   
  color: #F47321;
   font-size: 32px;
  text-shadow:1px 1px 0px #cccccc !important;
  margin:5px 0px 10px 5px;
  padding:3px;
}


#occontent {
	font-family:  helvetica, arial, geneva, sans-serif !important;
	font-size: 12px;
        padding:10px;
	margin:5px;
	background:#ffffff; 
        color:#555555;
}

#occontent p  {
   font-size: 12px !important;   
   line-height:1.3em !important;
  padding:3px;
  margin:5px;

}

#occontent h3 {
        display:block;
        margin:5px 0px 5px 0px;
        padding:0px;
	color: #A62315;
	font-size: 18px;
	line-height: 1.2em !important;
}

#occontent h3 a {
	color: #A62315 !important;
	text-shadow:1px 1px 0px #cccccc !important;
}


img.headline {
  margin:5px;
  padding:0px;
  border:none;
}
