/********************************************************************************************
2. SPOTLIGHT MODULE
********************************************************************************************/
.lg-spotlight #tab-container-over {
	position:relative;
	background:#f47321;
	width:302px !important;
	height:204px !important;
	margin:0px !important;
	padding:10px 0px 0px 7px !important;
}

.lg-spotlight .ui-tabs-panel {
	background:#f47321 none repeat scroll 0%;
	border:none;
	margin:0;
	padding:10px 0 0 10px;
	position:relative;
}

.lg-spotlight .ui-tabs-panel img {
	position:absolute;
	left:10px;
	top:10px;
	margin:0px;
	padding:0px;
	width:302px;
	height:147px;
	overflow:hidden;
}

.spotlightImg {
	width:174px !important;
	/* height:147px !important; */
	margin:0px !important;
	padding:0px !important;
	overflow:hidden !important;	
}


.lg-spotlight ul.ui-tabs-nav {
	padding:0;
	margin:0 0 0 0px;
	width: 302px;
} 

.lg-spotlight ul.ui-tabs-nav li {
	padding:0;
	margin:0;
	width:85px;
}

.lg-spotlight ul#switch li a {
	background:transparent url(images/spotlight-tab-bg.gif) no-repeat left;
	width:80px;
	height:51px;
	border:none;
	display:block;
}

.lg-spotlight ul#switch li.ui-tabs-selected a {
	background:transparent url(images/spotlight-tab-bg.gif) no-repeat right;
	border:none;
}

.lg-spotlight ul#switch li.ui-tabs-selected h5 {
	color:#fff;
}

.lg-spotlight ul#switch li a img {
	float:left; 
	width:30px; 
	margin-top:8px;
}

.lg-spotlight ul#switch li h5 {
	color:#f47321;
	text-transform:uppercase;
	width:35px;
	padding:0;
	margin-left:25px;
	float:left; 
	margin-top:-50px;
	position:relative;
	text-align:left;
}

.lg-spotlight .tab-content {
	padding: 15px 0 0 0;
	width:160px;
	height:183px;
	background:url(images/spotlight-content-bg.png) no-repeat;
	position:absolute;
	top:0px;
	left:150px;
	z-index:30;	
	color:#fff;
}

.lg-spotlight #tab-container-over .tab-content h4 {
	color:#f47321 !important;
	text-transform:none;
	font-size: 1em;
	font-weight:bold;
	margin: 0 15px 10px 15px;
}

.lg-spotlight #tab-container-over .tab-content p {
	margin:10px 15px;
}

.ui-tabs-hide {
display: none;
}

.ui-tabs-nav {
list-style: none;
list-style-type: none;
list-style-position: initial;
list-style-image: initial;
}

.ui-tabs-nav::after {
display: block;
clear: both;
content: " ";
}

.ui-tabs-nav li {
float: left;
margin: 0 4px 0 0;
}

.events-list h3 { 
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #000000;
	-webkit-margin-after: 0;
}
.events-list h4 { 
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.1em;
	display: inline;
	color: #A62315;
	
}

.events-list ul li {
	list-style: none;
	margin-bottom: 30px;
}
	