body {
    
    margin:0px;
    padding:0px;
	background:#e8e5d6 !important;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
}

a {
	color:#000;
}

#content {
	background-color: #ffffff;;
}

#syracuse {
	position:relative;
    width:320px;
    height:460px;
}

.header {
	height:52px;
	width:320px;
	background: url(/images/header_320.png) left top no-repeat;
	margin:0px;
	padding:0px;
}

.header_retina {
	height:105px;
	width:640px;
	background: url(/images/header_640.png) left top no-repeat;
	margin:0px;
	padding:0px;
}

#nav {
	position:absolute;
	left:0px;
	top:67px;
	width:320px;
	height:25px;
}

#nav ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#nav li {
	list-style:none;
	float:left;
	display:block;
	width:55px;
	margin:0px;
	padding:0px;
	border-right:1px solid #ccc;
}

#nav li a {
	display:block;
	font:bold 10px arial, helvetica, geneva, sans-serif;
	color:#fff;
	text-decoration:none;
	margin:0px;
	padding:3px 0px 3px 3px;
	text-align:center;
	height:23px;
	width:55px;
}

#home {
	background:#e8e5d6 !important;
}


.menu {
		
}

.menu li {
	
}

.menu li a {

}

.toolbar {
	/* background: url(/_assets/images/header.png) left top no-repeat !important; */
}

.lg-textImageHoriz {
	background-color: #ffffff;
	padding: 5px;
}	

.lg-textImageHoriz img {
	width: 300px;
	overflow: hidden;
}

.featured-event {
	padding: 15px;
}

/* Jquery Mobile overrides
 * 
 * 
 */

.ui-li-desc {
	white-space: normal;
}

.ui-li-heading {
	white-space: normal;
}

.ui-body-c .ui-link {
color: #F47321;
font-weight: bold;
}

h4 a .ui-link {
color: #A62315;
font-weight: bold;

.ui-btn-up-c {
	border: 1px solid 		#ccc;
	background: 			#eee;
	font-weight: bold;
	color: 					#444;
	text-shadow: 0 1px 1px #f6f6f6;
	background-image: -moz-linear-gradient(top, 
							#fefefe, 
							#eeeeee);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#fdfdfd),
		color-stop(1, 		#eeeeee));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#eeeeee')";
}
.ui-btn-up-c a.ui-link-inherit {
	color: 					#2F3E46;
}

.ui-btn-hover-c {
	border: 1px solid 		#bbb;
	background: 			#dadada;
	font-weight: bold;
	color: 					#101010;
	text-shadow: 0 1px 1px 	#fff;
	background-image: -moz-linear-gradient(top, 
							#ededed, 
							#dadada);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#ededed),
		color-stop(1, 		#dadada));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#dadada')";
}
.ui-btn-hover-c a.ui-link-inherit {
	color: 					#2F3E46;
}
.ui-btn-down-c {
	border: 1px solid 		#808080;
	background: 			#F47321;
	font-weight: bold;
	color: 					#111111;
	text-shadow: 0 1px 1px 	#ffffff;
	background-image: -moz-linear-gradient(top, 
							#eeeeee, 
							#fdfdfd);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#eeeeee),
		color-stop(1, 		#fdfdfd));
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#fdfdfd')";
}
.ui-btn-down-c a.ui-link-inherit {
	color: 					#F47321;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.ui-btn-active {
border: 1px solid #F47321;
background: #F47321;
font-weight: bold;
color: white;
cursor: pointer;
text-shadow: 0 -1px 1px #145072;
text-decoration: none;
background-image: -moz-linear-gradient(top,#85BAE4,#5393C5);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#85BAE4),color-stop(1,#5393C5));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#85BAE4', EndColorStr='#5393C5')";
outline: 0;
}