.rotator {
    position:relative !important;
    width:444px;
    height:390px;
    margin:0px;
    padding:0px;
}


.frontPost {
    margin:0px;
    padding:10px;
    height:340px;
    width:440px;

}

.bgcon {
    margin:0px;
    padding:0px;
    height:340px;
    width:440px;
}

.postC {
    position:absolute;
    top:260px;
    height:92px;
    width:440px;
    margin:0px;
    padding:0px;
    color:#ffffff;
    background: #373737;
}

.postC a {
    color:#ffffff;
    text-decoration:none;
    background: none;
}

.postD {
    width:430px;
    margin:0px;
    padding:10px;
    text-decoration:none;
    font-size:14px;
} 

.postD p {
    line-height: 1.5em;
    font-size:12px;
    margin:3px 0px 3px 0px;
}

.postD h4 {
    font-size:16px;
    color:#ffffff !important;
    margin:1px 5px 1px 0px;
    padding:0px;
}


.ui-tabs-nav li a {
    display:block;
    margin:0px;
    padding:7px 10px 1px 10px;
    text-decoration:none;
    background-color:#ffffff !important;
    text-shadow:none;
}

.ui-tabs-nav li a:hover {
    
}

.ui-tabs-nav li.ui-tabs-selected a { 
    color:#ffffff;
}

.ui-tabs-nav li.ui-tabs-selected a:hover {

}

.ui-tabs .ui-tabs-hide {
     display: none;
}

ul#rotatingTabs {
    position:absolute;
    display:block;
    right:10px;
    bottom:40px;
    width:100px;
    
    z-index:98;
    margin:0px;
    padding:0px;
}

#rotatingTabs li {
    
    position:relative;
    float:left;
    margin:0px 2px 0px 2px;
    padding:0px;
    list-style:none;
    
}

#rotatingTabs li a {
    color: #ffffff;
    background:#ffffff;
    text-decoration: none;
    font: 14px;
    text-indent:-99999px;
    overflow:hidden;
    width:5px;
    height:5px;
    border-radius:5px;
    margin:5px;
    padding:2px;
}

#rotatingTabs li a:hover { 
    background:#fc8618 !important;
}

#rotatingTabs li.ui-tabs-selected a {
    background:#F47321 !important;  
}

.rotatecontent {
    padding:5px;
    margin:0px;
    width:150px;
}

.rotatebutton {
    position:relative;
    margin:0px;
    padding:0px;
    list-style:none;
    background:none;
}

.rotatebutton a {
    
}

.ui-tabs-nav a {
    color: #F47321;
    font-size: 12px;
    background-image: none;
    border: none;
   display: inline;
}

.lg-textImageHoriz {
    float:none;
}



a.prevT {
    background: transparent url(images/arrows.png) no-repeat left top;
    display: block;
    width: 32px;
    height: 80px;
    font-size: 1px;
   position: absolute;
    left: 11px;
    top: 90px;
}

a.nextT {
    background: transparent url(images/arrows.png) no-repeat left top;
    width: 32px;
    height: 80px;
    position: absolute;
    right: -9px;
    top: 90px;
}

a.right {
    background-position: 0 -80px;

}

