/* TEMPLATE: SEARCH RESULTS */
div.search-results {
    background: #fff;
    float: left;
    width: 685px;
    padding:10px 10px 0 10px;
    margin-bottom:10px;
}

div.search-results form.search {        
    float:none;
    margin: 20px 0 0 0;
}

div.search-results p {
    padding: 5px 0;
    border-bottom: 1px solid #f47321;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.2em;
}

div.search-results p span.search-keyword, 
div.search-results p span.search-time {
    font-weight: bold;
}

div.search-results div.results-listing {
    margin: 0 10px 10px 0;
    background: url(../images/google_custom_search.gif) right 0px no-repeat;
    padding-top:20px;
}

div.search-results div.results-listing p {
    text-align: left;
    border: none;
    margin: 0 0 2px 0;
    padding: 0;
    line-height:1.4em;  
}

div.search-results div.results-listing ul li h4 {
    margin-bottom: 5px; 
}

div.search-results div.results-listing ul li h4 a {
    font-size: 1.4em;   
}

div.search-results div.results-listing ul li {
    margin-bottom: 20px;    
}

div.search-results div.results-listing ul li a {
    background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
    padding-right: 10px;
}

div.search-results .page-navigation {
    margin:0;
    width:705px;
    margin-left:-10px;
}

/*Template: Directory List (Academics Departments) (LARGE TABBED LIST)*/
.lg-tabbedList {
    margin: 10px 0 10px 0;
    float: left;
    width: 466px;
}

.lg-tabbedList p {
    margin: 5px 0 10px 0;
    line-height:1.4em;
}

.lg-tabbedList a.mail, .paging-nav a {
    color: #F47321;
}

.lg-tabbedList .tab-container {
    background: #f6f5ef;
    padding: 3px 8px 4px 5px;
    float: left;
}

.lg-tabbedList .ui-tabs-panel {
    width: 435px;
    float: left;
    padding: 15px 5px 15px 10px;
}

.lg-tabbedList .ui-tabs-nav a span {
    padding: 5px 3px 0 4px;
}

.lg-tabbedList .alphabetical-list1 {
    width: 185px;
    float: left;
    margin-right: 20px;
}

.lg-tabbedList .alphabetical-list1 ul li,.lg-tabbedList .lg-tabbedListFrag ul li, 
.lg-tabbedList .alphabetical-list2 ul li {
    margin-bottom: 8px;
    font-size: 1.1em;
    line-height:1.4em;
}

.lg-tabbedList .alphabetical-list2 {
    float: left;
    width: 210px;
}

.lg-tabbedList h4 {
    margin: 10px 0;
}

.lg-tabbedList .alphabetical-list1 a, 
.lg-tabbedList .alphabetical-list2 a {
    color: #f47321;
}

.lg-tabbedList .paging-nav {
    padding-bottom: 5px;
    border-bottom: 2px solid #f0eeeb;
}

.lg-tabbedList .paging-nav ul li {
    display: inline;
    color: #f47321;
    background: url(images/paging_separator.gif) right no-repeat;
    padding-right: 8px;
    margin-right: 5px;
}

.lg-tabbedList .paging-nav ul li.last {
    background: none;
}

/***Templates: Calendar Pages************************************/
div#col-main.wide .lg-tabbedList, div#col-main.wide {
    width: 705px;   
}

div#col-main.wide .lg-tabbedList {
    background-color:#f6f5ef;
}

div#col-main.wide .lg-tabbedList  .ui-tabs-panel {
    width: 680px;   
}

div#col-main.wide .lg-tabbedList  .ui-tabs-panel h1 {
    font-size:1.5em;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom: 10px;
    color:#A62315;
}

.filter h5, 
.filter h5 a {
    color:#555;
    font-weight:normal;
    margin-bottom:10px;
    display:block;
    width:70px;
    height:10px;
}

.filter h5 a {
    background:url(images/plus-minus.gif) no-repeat right -14px;
    padding-right: 10px;
}

.filter h5.active a {
    background:url(images/plus-minus.gif) no-repeat top right;
}

.filter div form {
    background-color:#FDFCFA;
    border:1px solid #D1CEBD;
    margin-bottom:3px;
    padding:10px;
    width:655px;
}

.filter div form p a {
    color:#555;
}

.filter div form table td {
    width:132px;
}

.filter div form .submit {
    margin-top:15px;
}

table.cal-listing tr td span {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 17px 0;
    display: block;
    font-size: 1.1em;
}

table.cal-listing tr td  p {
    margin-bottom: 5px;
    font-size: 1.1em;
}

table.cal-listing tr td  p a {
    background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
    padding-right: 10px;
}

table.cal-listing tr td  ul li {
    margin: 8px 0 8px 0;
    padding: 0 0 8px;
    background: url(images/bg_event-info.gif) bottom left repeat-x;
    line-height:1.4em;
}

table.cal-listing tr td  ul li.last {
    background: none;
}

table.cal-listing tr th {
    color:#555;
    font-size:1.2em;
    text-transform:uppercase;
    text-align:center;
    background:#c5c2b6;
    padding:5px 0;
    width:132px;
    font-weight:bold;
}

table.cal-listing#one-day, table.cal-listing#one-day tr th {
    width:100%;
    text-align:left;
    padding-left:5px;
}

table.cal-listing#one-day {
    padding-left:0;
}

table.cal-listing tr th.today {
    color:#fff;
    background:#f47321;
}

table.cal-listing tr th.odd {
    background:#dfddd6;
}

table.cal-listing tr td {
    border:solid 1px #e8e6dc;
    border-width: 0 1px;
    padding:10px;
}

table.cal-listing#one-day tr td {
    border:none;
}

table.cal-listing tr td.odd {
    background:#f9f8f5;
    border:none;
}

table.cal-listing tr td.prev-foll {
    text-align:right;
    border:none;
}

table.cal-listing tr td.prev-foll ul li {
    display:inline; 
    background:none; 
    font-size:1.1em;
    padding-left:5px;
}

table.cal-listing tr td.prev-foll ul li.prev {
    padding-right: 7px; 
    background:url(images/pipe-orange.gif) no-repeat top right;
}

table.cal-listing tr td.prev-foll ul li.prev a {
    background: transparent url(images/leading-double-arrow.gif) no-repeat left 4px;
    padding-left: 10px;
    color:#f47321;
}

table.cal-listing tr td.prev-foll ul li.foll a {
    background: transparent url(images/trailing-double-arrow.gif) no-repeat right 4px;
    padding-right: 10px;
    color:#f47321;
}

table.cal-listing tr td  ul li h4 {
    color: #f47321;
    margin: 0;
}

table.cal-listing tr td  ul li h4 a, 
table.cal-listing tr td .featured-event h4 a {
    background: none;
    font-size: 1.0em;
    font-weight:normal;
    color: #f47321 !important;
}

table.cal-listing#one-day tr td  ul li h4 a {
    font-weight:bold;
}

table.cal-listing tr td ul li.featured-event {
    background: #f47321 url(images/cal-feat-bg.gif) repeat-x;
    padding: 8px 6px;
    margin: 10px 0 15px 0;
    clear:both;
    color:#fff;
}

table.cal-listing tr td .featured-event img {
    margin-bottom:6px;
}

table.cal-listing tr td  ul li.featured-event h4 a {
    color:#fff !important;
}

table.cal-listing tr td  .featured-event h4 {
    margin: 2px 0;
    color: #f47321 !important;
}

table.cal-listing tr td  .featured-event p {
    margin: 5px 0;
}

/*sidebar items*/
#sm-calendar, 
.featured-event-callout, 
.upcoming-highlights {
    background:#fff;
    float:left;
    width: 218px;
    padding:10px;
    margin-bottom:10px;
}

#sm-calendar table  {
    border:solid 5px #f3f2ea;
    width: 218px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #fff;
}

#sm-calendar table tr td.prev-foll, 
#sm-calendar table tr td.prev-foll table {
    text-align:center;
    border:none;
    background:#f3f2ea;
    width:208px;
    padding:0;
}

#sm-calendar table tr td.prev-foll table td {
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    padding:0 0 4px 0;
    margin:0;
}

#sm-calendar table tr td.prev-foll table td.prev, 
#sm-calendar table tr td.prev-foll table td.foll {
    width:10px;
    padding:0;
}

#sm-calendar table th {
    background: #e4e3dc;
    text-align:center;
    padding:4px 0;  
    width: 20px;
}

#sm-calendar table td {
    width: 20px;
}

#sm-calendar table tr.non-month {
    background: #e4e3dc;
}

#sm-calendar table td.non-month a, 
#sm-calendar table tr.non-month td a {
    color:#b0afae;
}

#sm-calendar table td.wknd{
    background:#ebebeb;
}

#sm-calendar table td.corner{
    background:#d7d6d0;
}

#sm-calendar table #today, 
#sm-calendar table td#today a, 
#sm-calendar table td#today a:link, 
#sm-calendar table td#today a:visited {
    color: #fff;
    font-weight: bold;
    background: #f47321;
}

#sm-calendar table td { 
    text-align: center;
    padding:4px 0;
}

#sm-calendar table td a {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

#sm-calendar table td a:link, 
#sm-calendar table td a:visited,
#sm-calendar table td a:hover, 
#sm-calendar table td a:active {    
    color: #555;
}

form.cal-search {       
    float:left;
    z-index:9;
    position:relative;
    margin:0 0 0 -10px;
}

form.cal-search input {
    padding: 3px 0 2px 0;
    vertical-align: middle;
    margin:0;
}

form.cal-search input.search-text {
    width:218px;    
    position:absolute;
    border: 1px solid #e0e0e0;
    padding-bottom:2px;
    padding-left:5px;
    z-index:99;
}

form.cal-search input.btn-search {
    position:relative;
    right:-218px;
    top:-3px;
    z-index:999;
}

.featured-event-callout h5 {
    color:#A62315;
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:5px;
}

.featured-event-callout  h4 a {
    background: none;
    font-size: 1.0em;
    color: #f47321 !important;
}

.featured-event-callout div {
    background: #E8E5D6;
    padding: 8px 6px;
    margin:0;
    clear:both;
}

.featured-event-callout img {
    margin-bottom:6px;
}

.featured-event-callout a {
    font-size: 1.0em;
    background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
    padding-right: 10px;
}

.featured-event-callout h4 {
    margin: 2px 0;
    color: #f47321 !important;
}

.featured-event-callout p {
    margin: 5px 0;
}

.upcoming-highlights div {
    font-weight: bold;
    margin:0;
    display: block;
    font-size: 1.1em;
    background:#f3f2ea;
    padding:4px 2px;    
}

.upcoming-highlights p {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.upcoming-highlights ul li {
    margin: 8px 0 8px 0;
    padding: 0 0 6px;
    background: url(images/bg_event-info.gif) bottom left repeat-x;
}

.upcoming-highlights ul li.last {
    background: none;
    padding:0;
}

.upcoming-highlights ul li h4 {
    color: #f47321;
    margin: 5px 0;
}

.upcoming-highlights ul li h4 a {
    background: none;
    font-size: 1.0em;
    color: #f47321 !important;
}

table.cal-listing tr td.prev-foll {
    text-align:right;
    border:none;
}

.upcoming-highlights ul.prev-foll {
    border-top:solid 2px #f3f2ea;
    padding-top:4px; 
    margin-top:8px;
    margin-bottom:8px;
}

.upcoming-highlights ul.prev-foll li {
    display:inline; 
    background:none; 
    font-size:1.1em;
    padding-left:5px;
}

.upcoming-highlights ul.prev-foll li.prev {
    padding-right: 7px; 
    background:url(images/pipe-orange.gif) no-repeat top right;
}

.upcoming-highlights ul.prev-foll li.prev a {
    background: transparent url(images/leading-double-arrow.gif) no-repeat left 4px;
    padding-left: 10px;
}

.upcoming-highlights ul.prev-foll li.foll a {
    background: transparent url(images/trailing-double-arrow.gif) no-repeat right 4px;
    padding-right: 10px;
}

div#col-main.wide .lg-tabbedList .ui-tabs-panel .single-listing h1 {
    color: #F47321;
    font-size:1.8em;
    font-weight:bold;
    text-transform:none;
    margin-bottom: 0;
}

.single-listing h4 {
    text-transform:uppercase;
    margin-bottom:0;
}

.single-listing p {
    font-size:1.2em;
}

.single-listing p a {
    background: transparent url(images/trailing-double-arrow.gif) no-repeat right 4px;
    padding-right: 10px;
}


/***Template: Directory Archive (Alumni News Archive)************************************/

.archive {
    margin: 10px 0 10px 3px;
    float: left;
    width: 464px;
}

.sort-view-by {
    margin: 0;
    padding: 0;
    float: left;
}

.archive .sort-view-by fieldset {
    border: none;
}

.archive .sort-view-by fieldset label {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}

.archive .sort-view-by fieldset select {
    width: 80;
}

.sort-content-holder {
    float: left;
}

.second {
    width: 320;
    float: left;
}

.odd {
    background-color: #ffffcc;
}

.sort-content-holder ul {
    margin: 10 0;
}

.sort-content-holder ul li {
    display: inline;
    width: 460;
    min-height: 90px;
}

.sort-content-holder ul li a {
    color: #f47321;
    text-decoration: underline;
}

.sort-content-holder ul li.first .sort-date {
    float: left;
    width: 123px;
    background: #c5c2b6;
    padding: 5px 5px 5px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
    text-align: center;
}

.sort-content-holder ul li.first .sort-content {
    float: left;
    width: 322px;
    background: #c5c2b6;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
}

.sort-content-holder ul li.even {
    background-color: #fff;
    float: left;
}

.sort-content-holder ul li.even .sort-date {
    float: left;
    width: 123px;
    background: #fff;
    padding: 15px 5px 5px 0px;
    color: #555;
    text-align: center;
}

.sort-content-holder ul li.even .sort-content {
    float: left;
    padding: 0 0 5px 5px;
    width: 326px;
    background: #fff;
    margin-top: 15px;
    color: #555;
}

.sort-content-holder ul li.even .sort-content h4 {
    text-transform: uppercase;
}

.sort-content-holder ul li.even .sort-content p span {
    font-weight: bold;
    display: block;
}

.sort-content-holder ul li.odd .sort-date {
    float: left;
    width: 123px;
    background: #f6f5ef;
    padding: 15px 5px 5px 0px;
    color: #555;
    text-align: center;
}

.sort-content-holder ul li.odd .sort-content {
    float: left;
    padding: 0 0 5px 5px;
    width: 326px;
    background: #f6f5ef;
    margin-top: 15px;
    color: #555555;
}

.sort-content-holder ul li.odd .sort-content h4 {
    text-transform: uppercase;
}

.sort-content-holder ul li .sort-content p {
    line-height:1.3em;
}

.sort-content-holder ul li.odd .sort-content p span {
    font-weight: bold;
    display: block;
}

.sort-content-holder ul li.odd {
    float: left;
    background: #F6F5EF;
}

.page-navigation {
    background-color: #f1efe6;
    float: left;
    margin: 0px 0 10px 0px;
    width: 460px;
}

.page-navigation ul.pagingList {
    margin: 1px 10px 1px 0;
}

.page-navigation ul li {
    display: inline;
    margin: 0 5px;
    font-size: 1.1em;
    color: #fff;
}

.page-navigation ul li span {
    color: #555;
}

.page-navigation ul.paging-list {
    padding: 9px;
    float: right;
}

.page-navigation ul li a {
    color: #f47321;
}

.page-navigation ul li.current {
    background: #f47321;
    padding: 0 4px;
    font-weight: bold;
}

/*TEMPLATE: SAMPLE FORM*/
/*******************************/
.sample-form {
    background: #fff;
    float: left;
    width: 685px;
    border: 3px solid #e0dccc;
    padding: 20px 17px 30px 0;
    color: #555;
}

.sample-form label {
    color: #555;
}

.sample-form .left-form-content {
    width: 355px;
    float: left;
}

.sample-form h3 {
    margin: 0 0 0 10px;
    color: #F47321 !important;
    font-size: 2.0em;
}

.sample-form .form-field {
    float: left;
    margin-left: 10px;
    display: inline;
    margin-top: 10px;
}

.sample-form input {
    border: 1px solid #e0e0e0;
    height: 18px;
}

.sample-form .input-width {
    width: 158px;
}

.sample-form .left-form-content label {
    display: block;
    margin-top: 3px;
}

.sample-form .address, 
.daytime-phone, 
.fax, 
.email {
    width: 328px;
}

.sample-form .city {
    width: 175px;
}

.sample-form .state {
    width: 60px;
    border: 1px solid #E0E0E0;
    height: 20px;
}

.sample-form .zip {
    width: 70px;
}

.sample-form .right-form-content {
    float: left;
    width: 315px;
}

.sample-form .contact-preferences, 
.sample-form .communication-selection {
    width: 300px;
    border: 1px solid #d1cebd;
    padding: 10px;
    margin-bottom:3px;
    background-color:#fdfcfa;
}

.sample-form .contact-preferences input, 
.sample-form .communication-selection input {
    height: auto;
    background: none;
    border: none;
}

.sample-form .contact-preferences label, 
.sample-form .communication-selection label {
    margin: -3px 25px 0 5px;
}

.sample-form p {
    margin: 3px 0 0 10px;
}


.sample-form .contact-preferences table, 
.sample-form .communication-selection table {
    width:100%;
}

.sample-form .submit {
    float: right;
    height: auto;
    margin-right: 9px;
}

/*TEMPLATE: Article Page*/
/*******************************/
/*(variation of lg-textImageHoriz)*/

.lg-article {
    margin-bottom:10px;
    float:left;
    padding:10px 10px 20px 10px;
    width:444px;
    background:#fff;
    font:1.2em arial, helvetica, sans-serif;
        line-height: 1.6em;
        font-size: 1.2em;
}

.lg-article h1 {
    display:block;
        line-height:1.1;
        margin: 5px 0 10px 0;
}

.lg-article a {
    background:none;
    padding:0px;
    display:inline;
 
}

.lg-article a.readmore {
   background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
   padding-right: 10px;
}

.lg-article img {
     border: 7px #e8e5d6 solid; 
}

.lg-article img { 
    margin-right: 10px;
    margin-bottom:8px;
    width:auto;

}

.nostroke {
    border:none !important;
}

.lg-article p {
    margin:5px 2px 10px 2px;
}

.lg-article h4 {
    font-size:1.4em;
    line-height: 1.2em;
    margin:0 0 10px 0;  
    padding-top: 10px;
    clear:both; 
}

.lg-article h5 {
    clear: both;
    padding: 10px 0 8px 0;
    color: #555;
    text-transform:uppercase;
}


.lg-article ul {
    margin:5px 5px 15px 15px;
    padding:0px;    
}

.lg-article ul li {
    margin:1px 0px 1px 10px;
    padding:1px;
    list-style-image: url(images/bg_orange_arrow.gif);
}

.lg-article ul li a {
    display:inline;
}

.lg-article table {
    border:1px solid #eee;
    background:#fff;
}

.lg-article td {
    border:1px solid #ddd;
    padding:3px;
    margin:2px;
}



/*also on single event view*/
.inset {
    width: 127px;
    float: left;
    margin: 0 10px 0 0;
    border:solid 1px #d7d6d0;
    background-color:#f6f5ef;
}

.inset h5 {
    text-transform: uppercase;
    margin: 12px 0 0 10px;
    color:#A62315;
    padding: 0;
}

.inset ul {
    background:url(images/dot-bottom.gif) no-repeat 10px bottom;
    margin-left:0;
    padding-bottom:10px;
}

.inset ul.last {
    background:none;
}

.inset ul li {
    padding: 5px 0 5px 5px;
    margin: 0 5px;
    line-height:1.4em;
}

.inset ul li a {
    color: #f47321;
    font-size: 1.1em;
    background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
    padding-right: 10px;
    font-weight:normal;
}

/*TEMPLATE: TOPIC PAGE (w/3rd level links)*/
div#col-container.with-sub div#col-main {
    margin-top:34px;
}

div#col-container.with-sub div#col-secondary {
    margin-top:94px;
}

.sm-third-level-links {
    margin-bottom:10px;
    float:left;
    padding:18px 15px;
    width:208px;
    background:#c6c2b7;
}

.sm-third-level-links h3 {
    text-transform:uppercase;
    color:#A62315;
    font-size: 1.3em;
    font-weight:bold;
}

.sm-third-level-links ul {
    margin-top:10px;
}

.sm-third-level-links ul li {
    border-bottom: solid 1px #d5d1c8;
}

.sm-third-level-links ul li a {
    color:#fff; 
    font-weight:bold;
    font-size: 1.1em;
    line-height:1.8em;
    display:block;
    padding-left:4px;
}

.sm-third-level-links ul li a:hover, 
.sm-third-level-links ul li.selected a {
    background-color:#77746d;
    text-decoration:none;
}

/* TEMPLATE: FAQ - mpr 10/08/2008 */
div.faq {
    background: #fff;
    float: left;
    /* width: 635px; */
    padding:10px 10px 0 10px;
    margin-bottom:10px;
}

a.faq-quest {
    font-weight: bold;
    line-height: 25px;
}

/*TEMPLATE: TWO COLUMN*/
/*******************************/
/*(variation of lg-article above)*/


.two-column div { /* What's this for? - mpr 12/10/2008 */
    margin: 5px 0 15px 10px;
}

.two-column {
    margin-bottom:10px;
    float:left;
    padding:10px 10px 20px 10px;
    width: 685px;
    background:#fff;
    font:1.2em arial, helvetica, sans-serif;
    line-height: 1.4em;
    font-size: 1.2em;
}

/* To be used alongside two-column so as not to recreate all styles */
.one-column {
    width: 945px;
    padding:10px 10px 20px 30px;
}

.two-column h1 {
    display:block;
    margin: 5px 0 10px 0;
}

.two-column a {
    background:none;
    padding:0px;
    display:inline;
 
}

.two-column a.readmore {
   background: transparent url(images/trailing-double-arrow.gif) no-repeat scroll right 4px;
   padding-right: 10px;
}


.two-column img {
    border: 7px #e8e5d6 solid;
}

.two-column img {
    float: left;
    margin-right: 10px;
    margin-bottom:8px;
    /* width:auto; */
}

.two-column img.no-stroke {
    border:none;
}

.two-column p {
    margin:5px 2px 10px 2px;
}

.two-column h4 {
    font-size:1.4em;
    line-height: 1.2em;
    margin:0 0 10px 0;  
    padding-top: 10px;
    clear:both; 
}

.two-column h5 {
    clear: both;
    padding: 10px 0 8px 0;
    color: #555;
    text-transform:uppercase;
}


.two-column ul {
    margin:5px 5px 15px 15px;
    padding:0px;    
}

.two-column ul li {
    margin:1px 0px 1px 10px;
    padding:1px;
    list-style-image: url(images/bg_orange_arrow.gif);
}

.two-column ul li a {
    display:inline;
}

.flickrWrapper ul li {
        list-style-image:none;
        list-style-position:outside;
        list-style-type:none;
        display:inline;
        padding:2px;
}

.events-list h3 { 
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #000000;
}
.events-list h4 { 
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
    display: inline;
    
}

.events-list ul li {
    list-style: none;
    margin-bottom: 20px;
}

.img-item {
float: left;
width: 160px;
height: 135px;
overflow: hidden;
margin: 15px;
border: 7px #E8E5D6 solid;
border-image: initial;
}

.lg-article .img-item img {
    width: 260px;
    margin: 0px;
    border: 0px;
}
    